<div style="min-width: calc(100vw - 64px); min-height: calc(100vh - 100px);" class="md:h-screen md:bg-gray-200 flex justify-center md:items-center">
    <div class="w-96 bg-white rounded-xl flex flex-col items-center p-6" *ngIf="!register && !forgot" [formGroup]="loginForm">
        <h2 class="text-3xl font-semibold">Bem vindo!</h2>
        <h3 class="text-center text-sm my-4">Informe abaixo suas informações de entrada para continuarmos.</h3>
        <h3 *ngIf="loginError" class="p-4 rounded-xl bg-red-900 text-center text-white">Não foi possível entrar no sistema. <br>Por favor, verifique suas credenciais.</h3>
        <input type="text" class="w-full mt-4 px-2 py-4 bg-gray-200 rounded-xl" placeholder="Email" formControlName="email">
        <input type="password" class="w-full mt-4 px-2 py-4 bg-gray-200 rounded-xl" placeholder="Senha" formControlName="password">
        <div class="flex w-full mt-4">
            <button (click)="login()" class="mr-2 w-full h-16 bg-red-800 text-white rounded-xl">Entrar</button>
            <button (click)="registrar()" class="ml-2 w-full h-16 bg-red-800 text-white rounded-xl">Registrar</button>
        </div>
        <button (click)="esqueci()" class="text-center mt-4">Esqueci minha senha!</button>
    </div>
    <div class="w-96 bg-white rounded-xl flex flex-col items-center p-6" *ngIf="register && !forgot" [formGroup]="registerForm">
        <h2 class="text-3xl font-semibold">Registro</h2>
        <h3 class="text-center text-sm my-4">Informe abaixo suas informações de entrada para criamos uma nova conta para você.</h3>
        <input type="text" class="w-full mt-4 px-2 py-4 bg-gray-200 rounded-xl" placeholder="Nome completo" formControlName="fullName">
        <input type="text" class="w-full mt-4 px-2 py-4 bg-gray-200 rounded-xl" placeholder="Email" formControlName="email">
        <input type="password" class="w-full mt-4 px-2 py-4 bg-gray-200 rounded-xl" placeholder="Senha" formControlName="password">
        <input type="passwordAgain" class="w-full mt-4 px-2 py-4 bg-gray-200 rounded-xl" placeholder="Repita a senha" formControlName="repeatPassword">
        <button (click)="registerUser()" class="w-full h-16 bg-red-800 text-white rounded-xl mt-4">Registrar</button>
    </div>
    <div class="w-96 bg-white rounded-xl flex flex-col items-center p-6" *ngIf="!register && forgot" [formGroup]="forgotForm">
        <h2 class="text-3xl font-semibold">Esqueci minha senha</h2>
        <h3 class="text-center text-sm my-4">Informe abaixo o email utilizado na criação da conta.</h3>
        <input type="text" class="w-full mt-4 px-2 py-4 bg-gray-200 rounded-xl" placeholder="Email" formControlName="email">
        <button (click)="sendEmail()" class="mt-4 w-full h-16 bg-red-800 text-white rounded-xl">Enviar email</button>
    </div>
</div>